<!doctype html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1 style="display:inline">AstroKOW</h1><a href="http://www.stefanom.org"><img src="../img/stefano-head.jpg" class="pull-right" style="margin-left:10px"></a>
        <p class="lead">Astronomy abstracts spam. <span class="pull-right">Created by <a href="http://www.stefanom.org">Stefano Meschiari</a>.</span></p>
      </div>

      <div id="item">
        <div id="toolbar" class="pull-right">
          <button type="button" class="btn btn-danger btn-lg" onClick="location.reload();">Mooo!</button>
        </div>
        
        <div id="title"><%- title %></div>
        
        <pre id="abstract"><%- article  %></pre>

      </div>
      
      <hr>
      <div>
    </div>

    <div class="footer">
      <div class="container">
        <p class="text-muted">This is a little app I created to learn <a href="http://nodejs.org/">Node.js</a> and <a href="http://expressjs.com/">Express</a>. </p>
      </div>
    </div>
    
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript">
    </script>
    
  </body>
</html>
